@using BurgerShop.Application.Models.VMs;
@using BurgerShop.Domain.Entities.Concrete;
@using BurgerShop.Domain.Enums;

@{
    ViewData["Title"] = "Customers";
Layout = "~/Views/Shared/_LayoutEmpty.cshtml";

}
@model List<AppUser>






<body>



    <header>
        <h2>Admin Dashboard <a href="#"><i class="fa fa-user float-end"></i></a> </h2>

    </header>



    @if (Model != null)
    {
        <section class="row">
            <article class="col-md-3 col-lg-2 article-left">

                <h2 class="text-center title">Admin Dashboard</h2>
                <ul class="fa-ul">

                    <li><i class="fa fa-list" aria-hidden="true"></i><a asp-action="Menus" asp-controller="Admin">MENUS</a></li>
                    <li><i class="fa fa-user-o" aria-hidden="true"></i><a asp-action="Customers" asp-controller="Admin">CUSTOMERS</a></li>
                    <li><i class="fa fa-rocket" aria-hidden="true"></i><a asp-action="Orders" asp-controller="Admin">ORDERS</a></li>
                    <li><i class="fa fa-pie-chart" aria-hidden="true"></i><a href="#">Statistics</a></li>
                    <li><i class="fa fa-cogs" aria-hidden="true"></i><a href="#">Settings</a></li>
                    <li><i class="fa fa-line-chart" aria-hidden="true"></i><a href="#">Analytics</a></li>
                    <li><i class="fa fa-facebook" aria-hidden="true"></i><a href="#">Social</a></li>
                    <li><i class="fa fa-rss" aria-hidden="true"></i><a href="#">Feedback</a></li>
                </ul>
            </article>
            <article class="col-md-10 article-right">
                <h1>Admin Panel</h1>
                <div class="search-bar" style="display:flex">
                    <input type="text" id="searchInput" placeholder="Search by lastname"><i class="fas fa-search mt-2"></i>
                </div>
                <hr>


                @*   <div class="container">*@

                <table class="table-bordered w-100">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>Birth Date</th>
                            <th>Phone Number</th>

                            <th>Profile Picture</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>


                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName.ToString()</td>
                                    <td>@item.Gender</td>
                                    <td>@item.BirthDate</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>
                                        <img src="@item.ProfileImagePath" alt="customer-picture">

                                    </td>
                                    <td>
                                        <a asp-action="EditCustomer" asp-controller="Admin" asp-route-id="@item.Id">
                                            <button class="btn btn-secondary btn-sm d-inline-flex">Edit</button>
                                        </a>

                                        <a asp-action="DeleteCustomer" asp-controller="Admin" asp-route-id="@item.Id">
                                            <button class="btn btn-danger btn-sm d-inline-flex">Delete</button>
                                        </a>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                @if (Model != null)
                {
                    <a asp-action="AddCustomer" asp-controller="Admin">
                        <button class="btn btn-dark btn-sm d-inline-flex">Add a New Customer</button>
                    </a>
                }

                @*</div>*@



              

            </article>
        </section>
    }

    <div class="pagination"></div>

</body>
