@using BurgerShop.Application.Models.VMs;
@using BurgerShop.Domain.Entities.Concrete;
@using BurgerShop.Domain.Enums;
@model AppUserCustomerVM
@{
    ViewData["Title"] = "Users";

}
@{
    List<AppUser> customers = Model.AppUserCustomers.ToList();

}
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/adminstyle.css" />

</head>


<body>


    <header>
        <h2>Admin Dashboard <a href="#"><i class="fa fa-user float-end"></i></a> </h2>

    </header>

    @if (Model != null)
    {
        <section class="row">
            <article class="col-md-3 col-lg-2 article-left">

                <h2 class="text-center title">Admin Dashboard</h2>
                <ul class="fa-ul">

                    <li><i class="fa fa-list" aria-hidden="true"></i><a asp-action="Menus" asp-controller="Admin" href="#">MENUS</a></li>
                    <li><i class="fa fa-user-o" aria-hidden="true"></i><a asp-action="Customers" asp-controller="Admin" href="#">Users</a></li>
                    <li><i class="fa fa-rocket" aria-hidden="true"></i><a asp-action="Orders" asp-controller="Admin" href="#">ORDERS</a></li>
                    <li><i class="fa fa-pie-chart" aria-hidden="true"></i><a href="#">Statistics</a></li>
                    <li><i class="fa fa-cogs" aria-hidden="true"></i><a href="#">Settings</a></li>
                    <li><i class="fa fa-line-chart" aria-hidden="true"></i><a href="#">Analytics</a></li>
                    <li><i class="fa fa-facebook" aria-hidden="true"></i><a href="#">Social</a></li>
                    <li><i class="fa fa-rss" aria-hidden="true"></i><a href="#">Feedback</a></li>
                </ul>
            </article>
            <article class="col-md-10 article-right">
                <h1>Admin Panel</h1>
                <hr>

                <table class="table-bordered w-100">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>Birth Date</th>
                            <th>Phone Number</th>

                            <th>Profile Picture</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>


                        @if (customers != null)
                        {
                            foreach (var item in customers)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName.ToString()</td>
                                    <td>@item.Gender</td>
                                    <td>@item.BirthDate</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>
                                        <img src="@item.ProfileImagePath" alt="customer-picture">
                                        <a asp-action="UploadPicture" asp-controller="Admin" asp-route-Id="@item.Id">
                                            <button class="btn btn-dark btn-sm d-inline-flex">Upload Picture</button>
                                        </a> <a asp-action="DeletePicture" asp-controller="Admin" asp-route-Id="@item.Id">
                                            <button class="btn btn-secondary btn-sm d-inline-flex">Delete Picture</button>
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-action="DeleteCustomer" asp-controller="Admin" asp-route-Id="@item.Id">
                                            <button class="btn btn-danger btn-sm d-inline-flex">Delete Customer</button>
                                        </a>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                @if (Model != null && Model.AppUserCustomers != null && Model.AppUserCustomers != null)
                {
                    <a asp-action="AddCustomer" asp-controller="Admin" asp-route-Id="@Model.AppUserCustomer.Id">
                        <button class="btn btn-dark btn-sm d-inline-flex">Add a New Customer</button>
                    </a>
                }


            </article>
        </section>
    }

</body>



